<div id="vim-cmdline">
  <div id="vim-cmdline-error" class="inner hidden">
    <span></span>
  </div>
  <div id="vim-cmdline-inner" class="inner">
    <span class="prefix hidden">:</span>
    <input id="cmd" class="cmd" type="text" spellcheck="false" autocomplete="off" />
  </div>
</div>

<div id="vim-help" class="hidden">
  <div id="vim-help-container">
    <span class="vim-help-filename">help.txt</span>
    <span class="vim-help-iusevim">:iusevimbtw.com</span>
    <br />
    <br />
    <span class="vim-help-header">Webmail - Help</span>
    <br />
    <div class="vim-help-content">
      <table>
        <tr>
          <td class="vim-help-q">Move around:</td>
          <td class="vim-help-a">"j" to go down, "k" to go up.</td>
        </tr>
        <tr>
          <td class="vim-help-q">Close this window:</td>
          <td class="vim-help-a">Use ":q <Enter>". </td>
        </tr>
      </table>
      <br /> iusevimbtw stands for "I'm a better developer than you". iusevimbtw webmail is powered by <a target="_blanc" href="https://roundcube.net">Roundcube</a> and the <a target="_blanc" href="https://roundcube.net/screens/">Elastic skin</a>. Heavily upgraded by <a target="_blanc" href="https://team.iusevimbtw.com">our team</a> to provide the keystrokes you all know. <br />
      <br /> ============================================================================ <br />
      <span class="vim-help-filename">IUSEVIMBTW WEBMAIL DOCUMENTATION</span>
      <br />
      <br /> ---------------------------------------------------------------------------- <span id="vim-help-anchor-compose" class="vim-help-filename">MESSAGE LIST VIEW</span>
      <br />
      <br /> This view supports Normal (Esc), Ex (:), Visual (Shift+v|v), and Search mode (/). <br />
      <br /> In Ex-mode: <br />
      <table>
        <tr>
          <td class="vim-help-a">:e &lt;folder name&gt;</td>
          <td class="vim-help-a">Open a folder.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:e &lt;email&gt;</td>
          <td class="vim-help-a">Compose a new email.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:(q|q!|wq|x|qa!)</td>
          <td class="vim-help-a">Logout.</td>
        </tr>
      </table>
      <br /> In Normal mode: <br />
      <table>
        <tr>
          <td class="vim-help-a">gi</td>
          <td class="vim-help-a">Navigate to Inbox.</td>
        </tr>
        <tr>
          <td class="vim-help-a">gd</td>
          <td class="vim-help-a">Navigate to Drafts.</td>
        </tr>
        <tr>
          <td class="vim-help-a">gs</td>
          <td class="vim-help-a">Navigate to Sent.</td>
        </tr>
        <tr>
          <td class="vim-help-a">gj</td>
          <td class="vim-help-a">Navigate to Spam.</td>
        </tr>
        <tr>
          <td class="vim-help-a">gt</td>
          <td class="vim-help-a">Navigate to Deleted Items.</td>
        </tr>
        <tr>
          <td class="vim-help-a">j</td>
          <td class="vim-help-a">Select the next item.</td>
        </tr>
        <tr>
          <td class="vim-help-a">k</td>
          <td class="vim-help-a">Select the previous item.</td>
        </tr>
        <tr>
          <td class="vim-help-a">gg</td>
          <td class="vim-help-a">Select the first item.</td>
        </tr>
        <tr>
          <td class="vim-help-a">G</td>
          <td class="vim-help-a">Select the last item.</td>
        </tr>
        <tr>
          <td class="vim-help-a">&lt;C-d&gt;</td>
          <td class="vim-help-a">Jump half a page down.</td>
        </tr>
        <tr>
          <td class="vim-help-a">&lt;C-u&gt;</td>
          <td class="vim-help-a">Jump half a page up.</td>
        </tr>
        <tr>
          <td class="vim-help-a">&lt;C-w&gt;(h|l)</td>
          <td class="vim-help-a">Switch focus between the email list and folder list.</td>
        </tr>
        <tr>
          <td class="vim-help-a">Shift + V</td>
          <td class="vim-help-a">Start Visual mode.</td>
        </tr>
        <tr>
          <td class="vim-help-a">dd</td>
          <td class="vim-help-a">Move the selected message(s) to the Deleted Items folder.</td>
        </tr>
        <tr>
          <td class="vim-help-a">D</td>
          <td class="vim-help-a">Purge the selected message(s).</td>
        </tr>
        <tr>
          <td class="vim-help-a">u</td>
          <td class="vim-help-a">Mark the selected message(s) as read.</td>
        </tr>
        <tr>
          <td class="vim-help-a">U</td>
          <td class="vim-help-a">Mark the selected message(s) as unread.</td>
        </tr>
        <tr>
          <td class="vim-help-a">r</td>
          <td class="vim-help-a">Reply to the selected message.</td>
        </tr>
        <tr>
          <td class="vim-help-a">R</td>
          <td class="vim-help-a">Reply-all to the selected message.</td>
        </tr>
        <tr>
          <td class="vim-help-a">f</td>
          <td class="vim-help-a">Forward the selected message.</td>
        </tr>
        <tr>
          <td class="vim-help-a">/</td>
          <td class="vim-help-a">Start a search.</td>
        </tr>
      </table>
      <br />
      <br /> ---------------------------------------------------------------------------- <span id="vim-help-anchor-compose" class="vim-help-filename">COMPOSE VIEW</span>
      <br />
      <br /> Enter Insert mode (i) to start typing a message. Exit to Normal mode to navigate with Vim motions. Press ":" to start Ex-mode. Use Visual, Visual Line, and Visual Block mode while composing the message. <br />
      <br /> In Ex-mode: <br />
      <table>
        <tr>
          <td class="vim-help-a">:w</td>
          <td class="vim-help-a">Save the draft.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:(x|wq|wq!|x!)</td>
          <td class="vim-help-a">Send the message and switch to the Inbox folder.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:q</td>
          <td class="vim-help-a">Switch to the mail list.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:to &lt;email address&gt;</td>
          <td class="vim-help-a">Append an email to the "To" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:to! &lt;email address&gt;</td>
          <td class="vim-help-a">Set the "To" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:cc &lt;email address&gt;</td>
          <td class="vim-help-a">Append an email to the "Cc" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:cc! &lt;email address&gt;</td>
          <td class="vim-help-a">Set the "Cc" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:bcc &lt;email address&gt;</td>
          <td class="vim-help-a">Append an email to the "Bcc" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:bcc! &lt;email address&gt;</td>
          <td class="vim-help-a">Set the "Bcc" field.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:subj &lt;textg&gt;</td>
          <td class="vim-help-a">Append to the "Subject".</td>
        </tr>
        <tr>
          <td class="vim-help-a">:subj! &lt;textg&gt;</td>
          <td class="vim-help-a">Set the "Subject".</td>
        </tr>
        <tr>
          <td class="vim-help-a">:set (nu|number)</td>
          <td class="vim-help-a">Show line numbers.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:set (rnu|relativenumber)</td>
          <td class="vim-help-a">Show relative line numbers.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:set (nonu|nonumber)</td>
          <td class="vim-help-a">Hide line numbers.</td>
        </tr>
        <tr>
          <td class="vim-help-a">:set (nornu|norelativenumber)</td>
          <td class="vim-help-a">Hide relative line numbers.</td>
        </tr>
      </table>
      <br /> Normal (Esc), Insert (i), Visual (v|shift+v|cntr+v) modes are the same-ish as in your Vim.
    </div>
  </div>
</div>
