<div id="vim-cmdline">
  <div id="vim-cmdline-error" class="inner hidden">
    <span></span>
  </div>
  <div id="vim-cmdline-inner" class="inner">
    <span class="prefix hidden">:</span>
    <input id="cmd" class="cmd" type="text" spellcheck="false" autocomplete="off" />
  </div>
</div>

<div id="vim-help" class="hidden">
	<div id="vim-help-container">
		<span class="vim-help-filename">help.txt</span>
		<span class="vim-help-iusevim">:iusevimbtw.com</span>
		<br />
		<br />
		<span class="vim-help-header">Webmail - help</span>
		<br />
		<div class="vim-help-content">
      The :iusevimbtw Webmail is powered by Roundcube and it's Elastic skin which is upgraded with vim motions for your convinience.

			<table>
				<tr>
					<td class="vim-help-q">Move around:</td>
					<td class="vim-help-a">"j" to go down, "k" to go up.</td>
				</tr>
				<tr>
					<td class="vim-help-q">Close this window:</td>
					<td class="vim-help-a">Use ":q<Enter>".</td>
				</tr>
			</table>

		</div>
	</div>
</div>
